@import url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');


body {
    font-family: "Pretendard-Regular", "Roboto", sans-serif; 
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    color: #232323;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
}

@font-face {
  font-family: "Pretendard-Regular";
  src: url('pretendard.woff2') format('woff2');
  unicode-range: U+AC00-U+D7A3; /* 한글 폰트 */
}

@font-face {
  font-family: "Roboto";
  src: url('roboto.woff2') format('woff2');
  unicode-range: U+0020-U+007E; /* 영어 폰트*/
}