@charset "utf-8";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img,video {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
em,
i,
address {
  font-style: normal;
}
button {
  cursor: pointer;
  all: unset;
}
blockquote,
q {
  quotes: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}